<div class="d-flex flex-column flex-md-row align-items-center mb-3 border-bottom fixed-top bg-white">
    <a href="/" class="d-flex align-items-center link-body-emphasis text-decoration-none ms-3"> 
        <span class="fs-3">Сервис управления рассылками</span>
    </a> 
    <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto"> 
        <a class="me-3 py-2 link-body-emphasis text-decoration-none" href="{% url 'mailing:recipient_list' %}">Клиенты</a> 
        <a class="me-3 py-2 link-body-emphasis text-decoration-none" href="#">Enterprise</a> 
        <a class="me-3 py-2 link-body-emphasis text-decoration-none" href="#">Support</a> 
        <a class="me-3 py-2 link-body-emphasis text-decoration-none" href="#">Pricing</a> 
    </nav>
</div>